body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

input, button {
  margin: 5px;
  padding: 5px;
}

button {
  background: rgb(4, 3, 3);
  color: white;
  border: none;
  cursor: pointer;
}